* {
    box-sizing: border-box;
    outline: none;
}


.blockitem1 {
    font-size: 18px;
    margin-bottom: 3px;
    text-align: center;
}

.blockitem2 {
    font-size: 48px;
    color: #CC7408;
    text-align: center;
}

.blockitem3 {
    font-size: 14px;
    color: #BFB9B1;
    margin-bottom: 40px;
    text-align: center;
}

.block1 {
    width: 650px;
    height: 258px;
    margin: 60px;
    background: gray;
    border-radius: 10px;
    background: #FCF7F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 25px;
}

.mail {
    width: 452px;
    height: 43px;
    padding: 10px;
    background: #F2EAE0;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
}

.btn {
    width: 77px;
    height: 43px;
    margin-left: 11px;
    background: #CC7408;
    border: none;
}

.container {
    display: flex;
    margin-bottom: 5px;
}

.blockitem4 {
    color: rgba(196, 196, 196, 0.6);
    font-size: 14px;
}